h3{
    margin: 0 0 20px 0;
    padding: 0;
}
.topMain main .weatherContainer{
    font-size: 22px;
    color: #d9d9d9;
    margin-top: 35px;
}

.topMain main .weatherContainer button{
    color: #031B52;
    background: #FFB95D;
    outline: none;
    border: none;
    width: 210px;
    height: 32px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
}
.topMain main .weatherContainer .weatherInfo{
    width: 25%;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 10px;
    align-items: center;
    text-align: center; 
}
.topMain main .weatherContainer .weatherInfo img{
    width: 100%;
}

.topContainer .topMain main .weatherContainer .popUp{
    position: absolute;
    height: 65%;
    width: 30%;
    top: 0;
    left: 35%;
    background: rgba(255,255,255,0.3);
    overflow-y: scroll;
    animation: animate .5s;
    display: none;
}
.topContainer .topMain main .weatherContainer .popUp button{
    background: #cc4242;
    color: white;
    height: 25px;
    width: 25px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

.topContainer .topMain main .weatherContainer .popUp select{
    width: 90%;
    height: 30px;
    outline: none;
    font-size: 16px;
    padding: 5px;
    font-family: "Rockwell";
    background: #E1E1E1;
}
.topContainer .topMain main .weatherContainer .popUp select option{
    margin: 15px;
    font-size: 18px;
    height: 30px;
    background: transparent;

}


@keyframes animate{
    from{
        opacity: 0
    }
    to{
        opacity: 1;
    }
}
::-webkit-scrollbar{
    background: transparent
}